# BT520 Sensor configuration

# Copyright (c) 2020-2022 Laird Connectivity
# SPDX-License-Identifier: Apache-2.0

if BOARD_BT520

config BOARD
	default "bt520"

config IEEE802154_NRF5
	default y
	depends on IEEE802154

config BT_CTLR
	default BT

endif # BOARD_BT520
