# Copyright (c) 2020 Laird Connectivity

# SPDX-License-Identifier: Apache-2.0

CONFIG_SOC_SERIES_NRF52X=y
CONFIG_SOC_NRF52840_QIAA=y
CONFIG_BOARD_MG100=y

# Enable MPU
CONFIG_ARM_MPU=y

# Enable RTT
CONFIG_USE_SEGGER_RTT=y

# enable GPIO
CONFIG_GPIO=y

# enable uart driver
CONFIG_SERIAL=y

# enable console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# additional board options
CONFIG_GPIO_AS_PINRESET=y

# Spi
CONFIG_SPI=y
CONFIG_SPI_2=y

CONFIG_I2C=y
CONFIG_SENSOR=y

CONFIG_MG100_LIS2DH=y
CONFIG_MG100_LIS2DH_TRIGGER_OWN_THREAD=y
CONFIG_MG100_LIS2DH_ACCEL_RANGE_RUNTIME=y
CONFIG_MG100_LIS2DH_ODR_RUNTIME=y
